*{
    margin: 0;
    padding: 0;

}

body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #404142;
    font-family: Arial, Helvetica, sans-serif;
}
.termo{
   color:#ffffff;
   margin-top: 20px;
   margin-left: 13vw;
   font-size: 1vw;
}

.letra{
    margin-left: 10px;
}

.gene{
    margin-right: 3px;
}

.container{
    margin-top: 40px;
    width:80%;
    height: 92vh;
    display: flex;
    position: fixed;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    display: flex;
}
.backgroud {
    background-image:linear-gradient(to right, rgb(0, 92, 119), rgb(0, 0, 0)) ;
    width: 90vw;
    height: 40vw;
}
.form-image > img{
  position: absolute;
  margin-top: -15vw;
  margin-left: 3vw;
  height: 35vw;
}

.form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    padding: 2rem;

}

.form-header{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button{
    display: flex;
    align-items: center;
}

.login-button button{
    border: none;
    background-image: linear-gradient(to right, #404142, #232525);
    padding: 0.5vw;
    font-size: 1vw;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    width: 7vw;
}

.login-button button:hover{
    background-image: linear-gradient(to right, #323333, #171818);
    box-shadow: 1px 2px 5px black;
    cursor: pointer;
}

.title{
    font-size: 1vw;
    color: #ffffff;

}
.gender-title{color: #ffffff;}

.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    
}


.input-box input{
    margin: 0.6rem 0;
    height: 2vw;
    width: 11vw;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px black;
    font-size: 0.8vw;

}

#nome:hover{
    background-color: #e9e8e8;
    cursor: pointer;
}

.input-box input:focus-visible{
    outline: 1px solid rgb(207, 137, 7);
}

.input-box label{
    font-size: 1vw;
    color: rgb(255, 255, 255);
}
.input-box input::placeholder{
    color: rgb(168, 166, 166);
}

.gender-group{
    display: flex;
    margin-left: 13vw;
}

.gender-title > h4 {
    font-size: 1vw;
    margin-top: -2vw;
    margin-left: 21.5vw;
    position: absolute;
}
.gender-input{
    display: flex;
}

.gender-input label{
    margin-right: 0.40rem;
    font-size: 0.78rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.continue-button button{
    text-align: center;
    margin-top: 2vw;
    margin-left: 20vw;
    width: 7vw;
    border: none;
    background-image: linear-gradient(to right, #404142, #232525);
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}
.continue-button button:hover{
    background-image: linear-gradient(to right, #323333, #171818);
    box-shadow: 1px 2px 5px black;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 600;
    color: #fff;

}

@media screen and(max-width:1330px) {
    .form-image{
        display: none;
    }
   .container{
    width: 50%;
}

.form{
    width: 100%;
}
 
}

@media screen and (max-width:1064px) {
    .container{
        width: 90%;
        height: auto;
    }
    .input-group{
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }
    .gender-input{
        margin-top: 2rem;
    }
    .gender-group{
        flex-direction: column;
        
    }
}