* {
    margin: 0px;
    padding: 0px
}

.navegacao {
    display: flex;
    justify-content: space-between;
}

.menu {
    width: 3vw;
    height: 3vw;
}

.menu > span {
    position: absolute;
    margin-top: -1vw;
    margin-left: -1vw;
    height: 2vw;
    width: 2vw;
}

.botoes{
    display: flex;
    margin-left: 1vw;
    margin-top: 1vw;
}

.login{
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    height: 2.2vw;
    width: 8vw;
    background-image:linear-gradient(to right, rgb(0, 92, 119), rgb(0, 0, 0)) ;
    color: white;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.397);
    font-size: 1.1vw;
}

.login:hover{
    background-image: linear-gradient(to right, #5f5f5f, #313131);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.616);
}

.cadastro{
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    height: 2.2vw;
    width: 8vw;
    background-image:linear-gradient(to right, #005c77, rgb(0, 0, 0)) ;
    color: white;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.397);
    font-size: 1.1vw;
    margin-left: 1vw;
}

.cadastro:hover{
    background-image: linear-gradient(to right, #5f5f5f, #313131);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.616);
}

.nav-item > a {
    font-size: 1.3vw;
}

li > a:hover {
    color: #000000;
}

li > .busca {
    margin-top: 3vw;
}

i > img {
    width: 1.5vw;

}

.buscaMenu {
    justify-content: flex-end;
    display: flex;
    margin-right: 1vw;
}

.logo > img{
    width: 10vw;
}

.busca {
    margin-top: 1vw;
    margin-right: 0.5vw;
    justify-content: flex-end;
}

.search-box {
    display: flex;
}

.search-box-input::placeholder {
    
    color:#ffffff;
    opacity: 0.6;
}
/* Chrome, Opera ySafari */
.search-box-input::-webkit-input-placeholder { color: #ffffff; }
/* Firefox 19+ */
.search-box-input::-moz-placeholder { color: #ffffff; }
/* IE 10+ y Edge */
.search-box-input:-ms-input-placeholder { color: #ffffff; }
.search-box form {
    margin-top: 0.5vw;
    display: flex;
    border-radius: 50px;
    background-image:linear-gradient(to right, rgb(0, 92, 119), rgb(0, 0, 0)) ;
    height: 3vw;
    font-size: 1vw;
}
.search-box:hover .search-box-input {
    
    padding-left: 2em;
    padding-right: 1em;
    
}
.search-box-input {
    outline: 0;
    font-size: 1vw;
    color: #fff;
    width: 0;
    padding: 0;
    border: none;
    background: none;
    transition: .45s;
}
.search-box-button {
   display: flex;
   border-radius: 50%;
   width: 3.5vw;
   height: 3.1vw;
   background-image:linear-gradient(to right, rgb(0, 92, 119), rgb(0, 0, 0)) ;
   border: none;
   cursor: pointer;
   transition: .3s;
}
.search-box-button:active  {
    transform: scale(.85);
}
.search-box-icone {
    margin: auto;
    color: #fff;
}
@media screen and (min-width: 400px){
    
    .search-box:hover .search-box-input {
        width: 15vw;
        
    }
}

.corpo {
    background-color: #404142;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.tabelaLiguagensDeProgramacao > table {
    margin-top: 1vw;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    height: 2vw;
    font-size: 1.2vw;
}


.tabelaSistemasOperacionais > table {
    margin-top: 1vw;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    height: 2vw;
    font-size: 1.2vw;
}

.tabelaSistemasHadwares > table {
    margin-top: 1vw;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    height: 2vw;
    font-size: 1.2vw;
}

td > .novoPost {
 
}

.novoPost > a{
    justify-content: center;
    display: flex;
    text-decoration: none;
    border-radius: 20px;
    width: 8vw;
    height: 2vw;
    background-image:linear-gradient(to right, rgb(0, 92, 119), rgb(0, 92, 119)) ;
    color: white;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.397);
    font-size: 1vw;
}

.novoPost > a:hover {
    color: white;
    background-image: linear-gradient(to right, #5f5f5f, #313131);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.616);
}
.topicoEmensagem {
    text-align: center;
}


th {
    font-size: 2vw;

}

td > a{
    text-decoration: none;
    color: white;

}

td > a:hover {
    color: rgb(184, 181, 181);
    transition: 0.3s;
}

.passarPagina {
    display: flex;
    justify-content: flex-end;
    height: 3.5vw;
}

.page-link {
    width: 3vw;
    height: 3vw;
}
.page-item > a  {
    font-size: 1.5vw;
}
.footerCima {
    background-image:linear-gradient(to right, rgb(0, 92, 119), rgb(0, 0, 0)) ;
    height: 100%;
    margin-top: -1vw;
}

.footerCima > h2 {
    color: white;
    text-align: center;
    font-size: 2.5vw;
    padding-top: 1vw;
}

.footerCima > p {
    color: white;
    text-align: center;
    font-size: 1vw;
    padding-top: 1vw;
}

.footerCima > .e-mail {
    display: flex;
    justify-content: center;
    padding-top: 1vw;
}

.caixaDeTexto {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    width: 40vw;
    height: 3vw;
}

.botaoOk {
    box-shadow: 0 0 0 0;
    color: white;
    border: 0 none;
    outline: 0;
    background-image: linear-gradient(to right, #404142, #232525);
    width: 6vw;
    height: 3vw;
    font-size: 1vw;
}

footer {
    position: absolute;
    width: 100%;
}

.footerBaixo {
    background-color: #000000;
    height: 100%;
}

.footerLogo > img{
    margin-left:45vw ;
    width: 10vw;
}

.redeSociais{
    display: flex;
    justify-content: center;
}

.linkend > img {
    margin-right: 1vw;
    height: 2vw;
    width: 2vw;

}
.youtube > img{
    margin-right: 1vw; 
    height: 2vw;
    width: 2vw;
}
.facebook > img{
    margin-right: 1vw; 
    height: 2vw;
    width: 2vw;
}

.instagram > img{
    margin-right: 1vw; 
    height: 2vw;
    width: 2vw;
}