* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.divMae {
    background-color: #404142;
    color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    display: flex;
}

.titulo {
    text-align: left;
    margin-left: 2vw;
    font-size: 2vw;
}

.texto01 {
    text-align: left;
    margin-left: 2vw;
    font-size: 1vw;
}

.recuperarSenha {
    display: flex;
}

.formulario {
    background-image:linear-gradient(to right, rgb(0, 92, 119), rgb(0, 0, 0)) ;
   width: 55vw;
   padding-top: 5vw;

}

.usuario {
    text-align: left;
    margin-left: 2vw;
}

#iusuario {
    border-radius: 20px;
    box-shadow: 0px 0px 0px;
    border: 0 none;
    outline: 0px;
    height: 2.1vw;
    width: 25vw;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.397);
    margin-left: 2vw;
}

#iusuario:hover {
    background-color: rgb(235, 234, 234);
    box-shadow: 1px 2px 5px black;
}

.email {
    text-align: left;
    margin-left: 2vw;
}

#iemail {
    border-radius: 20vw;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    height: 2.1vw;
    width: 25vw;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.397);
    margin-left: 2vw;
}

#iemail:hover {
    background-color: rgb(235, 234, 234);
    box-shadow: 1px 2px 5px black;
}

.texto02 {
    text-align: left;
    margin-left: 2vw;
    font-size: 1vw;
}

.botaoEnviar {
    margin-left: 10vw;

}

.botaoEnviar > input  {
    border-radius: 20px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    height: 2.2vw;
    width: 11vw;
    background-image: linear-gradient(to right, #404142, #232525);
    color: white;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.397);
    font-size: 1.1vw;
    
}

.botaoEnviar > input:hover {
    background-image: linear-gradient(to right, #323333, #171818);
    box-shadow: 1px 2px 5px black;
}


.login {
    margin-left: 12.5vw;
}

div.imagem > img {
    position: absolute;
    margin-left: -26vw;
    margin-top: 3vw;
    height: 22vw;
}

a:hover {
    color: rgb(230, 228, 228);
    text-decoration: solid;
}

p > a {
    text-decoration: none;
    color: white;
    font-size: 0.8vw;
}